@font-face {
    font-weight: 400;
    font-family: 'Inter';
    src: url(./src/fonts/Inter-Medium.ttf);
}

@font-face {
    font-weight: 500;
    font-family: 'Inter';
    src: url(./src/fonts/Inter-Light.ttf);
}

@font-face {
    font-weight: 900;
    font-family: 'Inter';
    src: url(./src/fonts/Inter-Black.ttf);
}